mixin topBaner(data)
	// start topBaner
	+b.topBaner#topBaner&attributes(attributes)
		.container
			+e.row.row.align-items-center.justify-content-center
				.col-auto.d-none.d-md-block
					+e.img
						img(loading="lazy" src="img/@2x/topBaner-img.png" alt="")
				.col.col-lg-auto
					+e.SPAN.b-txt 30 дней бесплатного доступа при регистрации
				.col-auto
					+e.btn(href="#") Регистрация
	// end topBaner