.modal-win {
	// display: block;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 100%;
	position: relative;
	max-width: rem(492);
	// min-height: 100%;

	.carousel__button.is-close{
		display: none;
	}
	.mod-close-btn{
		@extend .btn;
		@extend .btn-light;
		border: none!important;

		padding: 3px;
		border-radius: 50%;

		background-color: $gray-220!important;

		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;

		width: 26px;
		height: 26px;
		@include media-breakpoint-up(sm){
			width: rem(30);
			height: rem(30);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			color: $gray-600;
			//stroke: $red;

			font-size: 10.4px;
			@include media-breakpoint-up(sm){
				font-size: rem(12);
			}
		}
	}
}

.modal-complain{
	padding: 57px 20px 40px!important;
	@include media-breakpoint-up(sm){
		padding: rem(56) rem(60) rem(50)!important;
	}
	&--succ{
		@include media-breakpoint-up(sm){
			padding: rem(56) rem(46) rem(40)!important;
		}
	}

	.form-wrap{
		&__title{
			h2{
				font-weight: bold;

				font-size: 16px;
				line-height: calc(19/16);
				margin-bottom: 14px;
				@include media-breakpoint-up(sm){
					font-size: rem(20);
					line-height: calc(23/20);
					margin-bottom: 11px;
				}

				text-align: center;
				text-transform: uppercase;
			}

			p{

			}

			& > *:last-child{
				margin-bottom: 0;
			}

			margin-bottom: 15px;
			@include media-breakpoint-up(sm){
				margin-bottom: rem(32);
			}

			&--success{
				margin-bottom: 36px!important;
			}
		}

		//-
		&__input-title{
			font-weight: 500;

			display: block;
			margin-bottom: 12px;
			@include media-breakpoint-up(sm){
				margin-bottom: rem(11);
			}


		}
		&__input-wrap{
			margin-bottom: 20px;
			textarea{
				height: 68px;
				@include media-breakpoint-up(sm){
					height: rem(90);
				}
			}
		}
		&__input{

		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;
			min-width: 100%;

			&--w-auto{
				min-width: 100%;
				@include media-breakpoint-up(sm){
					min-width: rem(236);
				}
			}
		}
	}
	&__{}
	&__{}
}