mixin modal()
	//  start modals
	+b.modal-complain.modal-win(id="modal-complain" style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		+form-wrap
			+e.title.text-center
				h2 пожаловаться на пользователя
			+e.content
				+input("Ваше обращение", 'textarea', 'Напишите о причине жалобы')(required)
				+e.btn(type="submit") Отправить
	// #modal-call
	+b.modal-complain--succ.modal-win(id="modal-comp-success"  style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		+b.form-wrap
			+e.title--success.text-center
				h2 пожаловаться на пользователя
				p Спасибо, что делаете платформу MetalGO еще лучше
			.text-center
				+e.btn--w-auto(type="submit") Закрыть
	// #modal-comp-success
	
	// end modals