mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			.row.gy-20
				.col-lg-6
					+titleBox({
						title: 'контактная информация',
					})
						+e.items
							+sContactItem('Адрес')
								+e.address Россия, Санкт-Петербург, пр. Стачек, дом 37, литера А, офис 104
							+sContactItem('Телефон')
								+e.tell(href="tel:+73512160373") +7 (351) 216-03-73
							+sContactItem('Электронная почта')
								+e.mail(href="mailto:support@metalgo.ru") support@metalgo.ru
							+sContactItem('Подпишитесь на нас')
								+soc()
				.col-lg-6
					+titleBox({
						title: 'задать вопрос',
					})
						+form-wrap()
							+e.inputs
								+input('E-mail', 'email', 'Электронная почта')
								+input('Задайте вопрос', 'textarea', 'Ваше сообщение')
							.text-sm-end
								+e.btn(type="submit") Отправить
	// end sContact

mixin sContactItem(title)
	+e.item
		+e.i-row.row.align-items-center
			.col-md-6
				+e.i-title=title
			.col-md-6
				block

mixin titleBox(data)
	.t-box(class=`${data.addClasses || ''}`)
		.t-box__header
			.t-box__row.row.align-items-center
				.col
					.t-box__title-row.row.flex-nowrap.align-items-center
						.col-auto
							h2.t-box__title=data.title
						if data.amount
							.col-auto
								.t-box__amount=data.amount
				if data.placed
					+g.s-item
						+sSearchDateItem('Размещено:', '24.12.2020')(class="d-none d-md-block")
						+sSearchDateItem('Обновлено:', '24.12.2020')(class="d-none d-md-block")
				if data.show
					.col-auto.d-none.d-md-block
						+b.show-row.row.align-items-center
							+e.txt.col-auto=data.showTxt
							.col-auto
								if data.showList
									//-+input(data.selectTxt, 'select')
									+e.input-wrap
										+e.SELECT.input.form-select(name="showType")
											option Список
											option На карте
								else if data.showMap
									+e.input-wrap
										+e.SELECT.input.form-select(name="showType")
											option На карте
											option Список
								else
									+input(data.selectTxt, 'select')
				if data.pdfBtn
					.col-auto
						+g.s-item
							+e.btn--out-light(href="#")
								+e.SPAN.b-icon.me-0.me-sm-10
									img(loading="lazy" src="img/svg/pdf.svg" alt="")
								span.d-none.d-sm-inline Выгрузить в pdf
						//-.t-box__btn(href="#")
							span.d-none.d-sm-inline Выгрузить в pdf
		.t-box__content
			block