.pixel-perfect {
	top: 0;
	//top: 4px;
	//
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	//opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	line-height: 1.15;
	@include media-breakpoint-up(md){
		line-height: 1.1875;
	}

	&.fixed,
	&.fancybox-active{
		.header{ 
			//padding-right: var(--spacing-end);
		}
		//max-width: calc(100% - var(--spacing-end));
		padding-right: var(--spacing-end);
	}

	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	//padding-top: var(--header-h, 0px);
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 100vh;
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	span{
		color: $primary;
	}
	&--big{
		h2{
			text-transform: uppercase;

			font-size: 24px;
			line-height: calc(28/24);
			margin-bottom: 34px;
			@include media-breakpoint-up(sm){
				font-size: rem(45);
				line-height: calc(53/45);
				margin-bottom: rem(32);
			}
		}
	}

	padding-bottom: var(--sTPB);
	& > *:last-child{
		margin-bottom: 0;
	}
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-700{
	font-weight: 700;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: 10px;
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		@include mt;
		opacity: 1;

		width: 8px;
		height: 8px;
		margin-left: 4px;
		margin-right: 4px;
		@include media-breakpoint-up(sm){
			width: rem(10);
			height: rem(10);
			margin-left: rem(5);
			margin-right: rem(5);
		}
		border-radius: 50%;
		background-color: rgba($white, .5);
		outline: none !important;
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary);
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}
//
.white-line{
	padding: 20px 0 20px;
	min-height: 51px;
	@include media-breakpoint-up(sm){
		padding: rem(17) 0;
		min-height: rem(80);
	}

	&--pad-alt{
		padding: 10px 0;
		@include media-breakpoint-up(sm){
			padding: rem(17) 0;
		}
	}
	&--pad-alt2{
		padding: 17px 0;
		@include media-breakpoint-up(sm){
			padding: rem(17) 0;
		}
	}

	display: flex;
	flex-direction: column;
	justify-content: center;
	&__row{
		--bs-gutter-y: 16px;

		padding-bottom: 20px;
		@include media-breakpoint-up(lg){
			padding-bottom: 0;
		}
	}
	&__title{
		font-size: 16px;
		@include media-breakpoint-up(md){
			font-size: rem(24);
		}
		line-height: calc(28/24);
		text-transform: uppercase;

		margin-bottom: 0;
	}
	.form-wrap{
		&__input{
			border-right: none;
			border-radius: rem(5) 0 0 rem(5);

			@include media-breakpoint-down(sm){
				padding: 8px 10px;
			}

			&:not(:first-child){
				@include media-breakpoint-down(md){
					border-radius: $input-border-radius 0 0 $input-border-radius!important;
				}
			}
		}

		//-
		&__select{
			@include media-breakpoint-down(md){
				min-width: 100%;
				border-radius: $form-select-border-radius!important;
				margin-bottom: rem(10);
			}
			@include media-breakpoint-up(md){
				max-width: rem(200);
			}
		}
		&__inp-btn{
			@extend .btn;
			@extend .btn-warning;

			display: flex;
			align-items: center;
			@include media-breakpoint-up(md){
				padding-left: rem(31);
				padding-right: rem(31);
			}

			@include media-breakpoint-down(sm){
				padding: 8px;
			}
		}
		&__b-icon{

			width: 16px;
			height: 16px;
			@include media-breakpoint-up(sm){
				width: rem(20);
				height: rem(20);
			}

			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
		&__b-txt{
			margin-left: rem(10);
		}

		&__{}
	}

	//
	&__parameters{
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__p-img{
		display: flex;
		width: 20px;


		img{
			max-width: 100%;
		}
	}
	&__p-txt{
		margin-left: rem(10);
	}

	//tabs
	&__title-col{
		@include media-breakpoint-up(xl){
			width: 21.2% !important;
		}
	}

	&__tabs-btn-row{
		//padding: 0 0 0 8px;
		//@include media-breakpoint-up(sm){
		//	padding: 0;
		//}

		position: relative;
		&:after{
			content: '';
			@include media-breakpoint-up(md){
				content: none;
			}
			position: absolute;
			width: 100vw;
			left: calc(-1 * (100vw - 100%) / 2);
			height: 1px;
			background-color: $gray-220;
		}


		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(40)};
		}
	}
	&__tabs-btn{
		@include mt();
		text-align: center;
		position: relative;

		font-size: 8px;
		line-height: calc(9/8);
		padding: 20px 0 18px;
		@include media-breakpoint-up(sm){
			font-size: rem(16);
			line-height: calc(19/16);
			padding: rem(30) 0;
		}

		//-
		.icon{
			@include mt();
			margin: 0 auto 9px;
			font-size: 20px;
			color: var(--icon-col, #{$gray-610});
		}

		&:after{
			@include mt();
			opacity: 0;
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;

			width: 100%;
			height: 2px;
			background-color: $primary;
		}

		color: $gray-610;
		&.active{
			color: $body-color;
			--icon-col: #{$primary};

			&:after{
				opacity: 1;
			}
		}

		&:hover{
			color: $body-color;
			&:after{
				opacity: .5;
			}
		}
	}
	&__tabs-icon{

	}
	&__tabs-txt{
		@include media-breakpoint-between(sm, lg){
			font-size: rem(12);
			line-height: calc(20/12);
		}
	}
	&__{}
	&__{}
}

//
.btn{
	line-height: 1.15;
	@include media-breakpoint-up(md){
		line-height: 1.1875;
	}
}

//
.btn-outline-light{
	color: $body-color!important;
}

.form-control, .form-select{
	@include media-breakpoint-down(sm){
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 9px;
	}
}

//
ul.page-numbers{
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	border: 1px solid $gray-310;
	border-radius: 5px;
	//overflow: hidden;

	li{
		border-right: 1px solid $gray-310;

		&:first-child{
			& > *{
				border-radius: 5px 0 0 5px;
			}
		}
		&:last-child{
			border-right: none;

			& > *{
				border-radius: 0 5px 5px 0;
			}
		}

		@include media-breakpoint-down(sm){
			flex-grow: 1;
		}

		& > *{
			@include mt();
			background-color: $white;
			color: $body-color!important;
			&:hover{
				background-color: $gray-220;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 3px;

			width: 100%;
			height: 32px;
			font-size: 12px;

			@include media-breakpoint-up(sm){
				min-width: 32px;
				height: rem(43);
				font-size: rem(14);
			}
			@include media-breakpoint-up(lg){
				min-width: 40px;
			}
			@include media-breakpoint-up(xxl){
				min-width: rem(44);
			}


			//
			&.prev,
			&.next{
				&.muted{
					pointer-events: none;
					.icon{
						color: $gray-600;
					}
				}

				.icon{
					color: $primary;

					font-size: 10px;
					@include media-breakpoint-up(sm){
						font-size: 12px;
					}
				}
			}

			&.prev{

			}
			&.next{

			}
			//
			&.current{
				pointer-events: none;
				position: relative;
				z-index: 2;
				&:after{
					content: '';
					position: absolute;
					z-index: 10;
					left: 0;
					bottom: -1px;
					width: 100%;
					height: 2px;
					background-color: $primary;
				}
			}
		}
	}
}

//
.btn-outline-light,
.btn-light{
	&:hover{
		background-color: $body-bg!important;
		border-color: $body-bg!important;
		color: $body-color!important;
	}
}

.btn{
	box-shadow: none!important;
}

//
.rm-hidden-js{
	//@include mt(.4s);
	display: none;
	&.active{
		display: block;
	}
}
.rm-btn-js, .t-btn-js{
	cursor: pointer;
	display: inline-block;

	span:first-child{
		display: inline-block;
	}

	span:last-child{
		display: none;
	}

	&.active{
		span:first-child{
			display: none;
		}

		span:last-child{
			display: inline-block;
		}
	}
}

.t-content-js{
	&:not(.active){
		@include ell(4);
	}
}

//
.scroll-top{
	cursor: pointer;
	@include mt();
	position: fixed;
	z-index: 100;
	background: $white;

	width: 40px;
	height: 40px;
	@include media-breakpoint-up(md){
		width: rem(60);
		height: rem(60);
	}
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	right: 0;
	bottom: 0;
	opacity: 0;
	transform: scale(0);
	&.active{
		right: 10px;
		bottom: 10px;
		@include media-breakpoint-up(sm){
			right: rem(24);
			bottom: rem(24);
		}
		@include media-breakpoint-up(lg){
			right: rem(48);
			bottom: rem(48);
		}
		opacity: 1;
		transform: scale(1);
	}

	.icon{
		color: $primary;

		font-size: 12px;
		@include media-breakpoint-up(md){
			font-size: rem(14);
		}
	}

	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	&:hover{
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	}
}

//
.txt-crop{
	text-overflow: ellipsis;
	overflow: hidden;
	line-clamp: var(--lines-num, 1);
	display: -webkit-box;
	display: box;
	word-wrap: break-word;
	box-orient: vertical;
}
//accept ratio frame
.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			//filter: brightness(100%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//
.btn-lg{
	font-size: 18px;
	line-height: calc(21/18);
	padding: 11px rem(24);
	@include media-breakpoint-up(sm){
		font-size: rem(20);
		line-height: calc(20/23);
		padding: rem(17.5) rem(20);
	}
}

.alert{
	color: $body-color!important;

	font-size: 12px;
	@include media-breakpoint-up(sm){
		font-size: rem(14);
	}
	line-height: 1.5;

	//border: none;
	border-left: 2px solid;

	&.alert-primary{
		border-color: $primary;
	}

	&.alert-lg{
		@include media-breakpoint-up(sm){
			padding-top: rem(23);
			padding-bottom: rem(23);
		}
	}
}


//-
.nf-baner{
	@include mt();
	transform-origin: bottom right;
	position: fixed;
	z-index: 120;
	bottom: 0;
	right: 0;

	transform: scale(0);
	opacity: 0;
	&.active{
		transform: scale(1);
		opacity: 1;
	}

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;
	width: 100%;
	height: calc(100% - var(--header-h));
	background-color: rgba($body-color, .5);
	@include media-breakpoint-up(lg){
		padding: rem(20);
		width: auto;
		height: auto;
		background-color: transparent;
	}

	&__item{
		max-width: 100%;
		position: relative;
		background: $white;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		overflow: hidden;

		width: 300px;
		@include media-breakpoint-up(sm){
			width: rem(360);
		}

		max-height: calc(100vh - 20px);
		overflow-y: auto;
	}
	&__img{
		display: block;
		height: 150px;
		@include media-breakpoint-up(sm){
			height: rem(180);
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__close-btn{
		@extend .btn;
		@extend .btn-light;
		position: absolute;
		padding: 3px;
		border-radius: 50%;

		background-color: $gray-220;

		width: 24px;
		height: 24px;
		top: 11px;
		right: 11px;
		@include media-breakpoint-up(sm){
			width: rem(30);
			height: rem(30);
			top: rem(10);
			right: rem(10);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 9.6px;
			@include media-breakpoint-up(sm){
				font-size: rem(12);
			}
		}
	}

	//-
	&__container{
		padding: 36px 30px;
		@include media-breakpoint-up(sm){
			padding: rem(40) rem(20);
		}
	}
	&__title{
		font-weight: bold;
		text-transform: uppercase;

		font-size: 18px;
		line-height: calc(21/18);
		margin-bottom: 10px;
		@include media-breakpoint-up(sm){
			font-size: rem(24);
			line-height: calc(28/24);
			margin-bottom: rem(15);
		}
	}
	&__descr{
		line-height: 1.5;

		margin-bottom: 15px;
		@include media-breakpoint-up(sm){
			margin-bottom: rem(20);
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;

		min-width: 150px;
		@include media-breakpoint-up(sm){
			min-width: rem(168);
		}
	}
	&__{}
}