@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-add {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-chat {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-down {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-chevron-down2 {
	font-size:math.div(8,10)*1rem;
	width: math.div(12,8)*1em;
}
.icon-chevron-top {
	font-size:math.div(14,10)*1rem;
	width: math.div(14,14)*1em;
}
.icon-company-stab7 {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-cross-sm {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-fb-star {
	font-size:math.div(40,10)*1rem;
	width: math.div(40,40)*1em;
}
.icon-modalMetalRadio-1 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-modalMetalRadio-10 {
	font-size:math.div(20,10)*1rem;
	width: math.div(18,20)*1em;
}
.icon-modalMetalRadio-2 {
	font-size:math.div(20,10)*1rem;
	width: math.div(15,20)*1em;
}
.icon-modalMetalRadio-3 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-modalMetalRadio-4 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-modalMetalRadio-5 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-modalMetalRadio-6 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-modalMetalRadio-7 {
	font-size:math.div(17,10)*1rem;
	width: math.div(20,17)*1em;
}
.icon-modalMetalRadio-8 {
	font-size:math.div(15,10)*1rem;
	width: math.div(20,15)*1em;
}
.icon-modalMetalRadio-9 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-next {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-outsource {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-prev {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-soc-inst {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-soc-vk {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-soc-yt {
	font-size:math.div(444.44,10)*1rem;
	width: math.div(500,444.44)*1em;
}
.icon-tabs-list {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tabs-pen {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tabs-pic {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tabs-star {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tabs-stat {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-tabs-tarifs {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-tabs-user {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tabs-users {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-tabs-warehouse {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tooltip {
	font-size:math.div(10,10)*1rem;
	width: math.div(10,10)*1em;
}
.icon-top-nav-dd-1 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-2 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-3 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-4 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-5 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-topNav-img-1 {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-topNav-img-2 {
	font-size:math.div(36,10)*1rem;
	width: math.div(36,36)*1em;
}
.icon-user-stab2 {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
