@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chat {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-down {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-chevron-top {
	font-size:math.div(14,10)*1rem;
	width: math.div(14,14)*1em;
}
.icon-company-stab7 {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-next {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-outsource {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-prev {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-soc-inst {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-soc-vk {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-soc-yt {
	font-size:math.div(444.44,10)*1rem;
	width: math.div(500,444.44)*1em;
}
.icon-tooltip {
	font-size:math.div(10,10)*1rem;
	width: math.div(10,10)*1em;
}
.icon-top-nav-dd-1 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-2 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-3 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-4 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-top-nav-dd-5 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-topNav-img-1 {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-topNav-img-2 {
	font-size:math.div(36,10)*1rem;
	width: math.div(36,36)*1em;
}
.icon-user-stab2 {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
