// start .sStat
.sStat {
	--sPT: 20px;
	--sPB: 40px;
	@include media-breakpoint-up(xl){
		--sPB: #{rem(60)};
	}

	//
	&__top-row{
		--bs-gutter-y: 20px;
		//@include media-breakpoint-up(xxl){
		//	--bs-gutter-x: #{rem(40)};
		//}

		padding-bottom: 20px;
		@include media-breakpoint-up(sm){
			padding-bottom: rem(40);
		}
	}
	&__radio-row{
		--bs-gutter-y: 10px;
		--bs-gutter-x: 10px;
	}
	&__r-items-row{
		--bs-gutter-y: 6px;
		--bs-gutter-x: 5.5px;
		@include media-breakpoint-up(sm){
			--bs-gutter-y: #{rem(5)};
			--bs-gutter-x: #{rem(5)};
		}
	}
	&__radio{
		cursor: pointer;
		display: block!important;

		input:checked + .r-txt{
			background-color: $primary;
		}
		.r-txt{
			@include mt();
			border-radius: rem(60);

			background-color: $gray-220;

			padding: 5px 12px;
			font-size: 12px;
			line-height: calc(14/12);
			@include media-breakpoint-up(sm){
				padding: rem(7) rem(15);
				font-size: rem(14);
				line-height: calc(16/14);
			}
		}
	}

	//-
	&__calendar-row{
		--bs-gutter-x: 10px;
		@include media-breakpoint-up(sm){
			--bs-gutter-x: 11px;
		}

		--bs-gutter-y: 8px;
	}
	&__input{
		min-width: 100%;
		width: 99px;
		@include media-breakpoint-up(sm){
			min-width: 0;
			width: rem(180);
		}
		@include media-breakpoint-up(xxl){
			width: rem(265);
		}
	}
	//-
	&__title{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&__box{
		padding-bottom: 20px;
		@include media-breakpoint-up(sm){
			padding-bottom: rem(40);
		}
	}
	//-
	&__stat-row{
		--bs-gutter-x: 20px;
		--bs-gutter-y: 20px;
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(20)};
			--bs-gutter-y: #{rem(20)};
		}
	}
	&__stat-item{
		display: flex;
		flex-direction: column;
		min-height: 100%;
		background: $white;
		border: 1px solid $gray-220;
		border-radius: 5px;

		padding: 19px 19px 21px;
		@include media-breakpoint-up(xxl){
			padding: rem(39);
		}
	}
	&__ch-row{
		min-height: 32px;
		@include media-breakpoint-up(sm){
			min-height: 0;
		}
		--bs-gutter-x: 6px;
		margin-bottom: auto;
	}
	&__ball{
		width: 4px;
		height: 4px;
		margin: 6px 0;
		@include media-breakpoint-up(sm){
			width: 6px;
			height: 6px;
			margin: 6px 0;
		}
		border-radius: 50%;
	}
	&__ch-txt{

	}
	&__ch-val{
		font-weight: bold;
	}
	&__char-wrap{
		position: relative;
		z-index: 2;

		width: 100%;

		height: 170px;
		margin: -40px 0 3px;
		@include media-breakpoint-up(sm){
			margin: -32px -4px 10px 0;
			height: 190px;
		}
	}

	//-
	&__chart{

	}
	&__ch-foot-row{
		margin-left: 0;

		padding-left: 41px;
		font-size: rem(12);
		line-height: calc(14/12);
		@include media-breakpoint-up(sm){
			padding-left: 42px;
			font-size: rem(14);
			line-height: calc(16/14);
		}

		color: $gray-600;
	}
	//table
	&__table{
		padding-bottom: 20px;
		font-size: 12px;
		line-height: calc(14/12);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(40);
			font-size: rem(14);
			line-height: calc(16/14);
		}

	}
	&__tr{
		padding: 10px 20px;
		@include media-breakpoint-up(md){
			padding: rem(14) rem(40);
		}
		&--head{
			background: $gray-220;
			border-radius: 5px;

			font-weight: bold;
			color: $gray-600;
		}

		&--body{
			word-break: break-word;
			border-bottom: 1px solid $gray-220;
			&:last-child{
				@include media-breakpoint-up(sm){
					border-bottom: none;
					padding-bottom: 0;
				}
			}
		}
	}
	&__tr-row{
		flex-wrap: nowrap;

		--bs-gutter-x: 15px;
		@include media-breakpoint-up(sm){
			--bs-gutter-x: 15px;
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: 40px;
		}
	}
	&__t-col{
		&--id{
			white-space: nowrap;
			width: calc(var(--bs-gutter-x) + 41px);
			@include media-breakpoint-up(sm){
				width: calc(var(--bs-gutter-x) + #{rem(49px)});
			}
			text-align: center;
		}
		&--title{

		}
		&--views{
			@include media-breakpoint-up(sm){
				text-align: center;
				width: calc(var(--bs-gutter-x) + #{rem(80px)});
			}
			font-weight: bold;
		}
	}
	//
	&__id{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	&__{}
} // end.sStat

input[type="date"]{
	--picker-w: 16px;
	@include media-breakpoint-up(sm){
		--picker-w: #{rem(16px)};
	}
	&::-webkit-inner-spin-button {
		display: none;
	}
	&::-webkit-calendar-picker-indicator {
		opacity: 0;
		//background-color: red;
		cursor: pointer;
		width: var(--picker-w);
		height: var(--picker-w);
	}
	//-
	&::-webkit-datetime-edit{
		min-width: 52px;
	}

	background-image: url(../img/svg/calendar-picker.svg);
	background-repeat: no-repeat;
	background-size: var(--picker-w);

	background-position-y: center;
	background-position-x: calc(100% - #{10px});
	@include media-breakpoint-up(sm){
		background-position-x: calc(100% - #{rem(16)});
	}
}