// start .headerBlock
.headerBlock {
	--sPT: 0px;
	--sPB: 0px;
	@include media-breakpoint-up(md) {
		--sPT: 20px;
		--sPB: 0;
	}

	&__container{
		@include media-breakpoint-down(md){
			padding: 0;
		}
	}
	&__slider-wrap{
		.swiper-container{

		}
		.swiper-wrapper{

		}
		.swiper-slide{

		}
	}
	.swiper-pagination{
		position: absolute;
		z-index: 10;
		bottom: 10px;
		@include media-breakpoint-up(sm){
			bottom: rem(20);
		}
		left: 0;

	}

	//-
	// &__img{
	// 	// @extend .accept-ratio-frame-nh;

	// 	padding-top: calc(187/320 * 100%);
	// 	// @include media-breakpoint-up(sm){

	// 	}
	// 	@media (min-width: 480px) {
	// 		// padding-top: calc(353/1516 * 100%);
	// 	}
	// }
	&__{}
	&__{}
}

// end.headerBlock