extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sAds/_sAds.pug
include ../blocks/sProfileS/_sProfileS.pug
include ../blocks/sTarif/_sTarif.pug
include ../blocks/sTarifsT/_sTarifsT.pug
include ../blocks/sFAQ/_sFAQ.pug

block variables
	- let  mainPage= null
	- let  bg='11-1.png'

block title
	- let  title= '011-faq'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	// tabs wrap required for js work only if u remove js, remove this wrap
	.tabs
		+b.white-line--pad-alt2.bg-white.pb-0.p-md-0
			.container
				+e.row.row.align-items-center.pb-0
					+e.title-col.col-md-4.col-xl-auto
						+e.H1.title помощь
					.col
						+e.tabs-btn-row--alt.row
							+tabsBtn2('warehouse', 'Ответы на вопросы', 'active')
							+tabsBtn2('user', 'Видео-инструкции')
		//-+sTarifsT()
		+sFAQ()
			+faqBox({
				title: 'есть вопрос?',
			})
	+footer()