extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/topBaner/_topBaner.pug
include ../blocks/sImged/_sImged.pug
include ../blocks/sChart/_sChart.pug
include ../blocks/sTarifsT/_sTarifsT.pug
include ../blocks/sTarif/_sTarif.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sHowWork/_sHowWork.pug
include ../blocks/sList/_sList.pug
include ../blocks/sFormBig/_sFormBig.pug

block variables
	- let  mainPage= null
	- let  bg='015-320.png'

block title
	- let  title= '015-for-order'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		//-+topBaner()
		+top-nav()
	+b.white-line--mh-0.bg-white
		.container
			+e.row.row.align-items-center.pb-0
				.col-12
					+form-wrap
						+e.ig-alt.input-group
							+e.SELECT.select--sm-6.form-select(name="order")
								option Заявки
								option Заявки 2
								option Заявки 3
							+e.SELECT.select--sm-6.form-select(name="category")
								option Категория
								option Категория 2
								option Категория 3
							//change ph on mob(remove d- classes and make responsive placeholder)
							+e.INPUT.input.form-control.d-none.d-sm-block(placeholder="Введите стандарт, диаметр и толщину стенки, например" type="text")
							+e.INPUT.input.form-control.d-sm-none(placeholder="Начните поиск" type="text")
							//
							+e.inp-btn(type="button")
								+e.SPAN.b-icon
									img(loading='lazy' src="img/svg/zoom.svg" alt="")
								+e.SPAN.b-txt.d-none.d-sm-inline Поиск
	+sBaner()
	+sHowWork()
	+sList()
	+sFormBig()
	+footer()