extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/topBaner/_topBaner.pug
include ../blocks/sImged/_sImged.pug
include ../blocks/sChart/_sChart.pug
include ../blocks/sTarif/_sTarif.pug

block variables
	- let  mainPage= null
	- let  bg='01.png'

block title
	- let  title= '01-main'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topBaner()
		+top-nav()
	+b.white-line.bg-white
		.container
			+e.row.row.align-items-center
				.col-12
					+form-wrap
						.input-group
							+e.SELECT.select.form-select(name="category")
								option Категория
								option Категория 2
								option Категория 2
							+e.INPUT.input.form-control(placeholder="Введите стандарт, диаметр и толщину стенки, например" type="text")
							+e.inp-btn(type="button")
								+e.SPAN.b-icon
									img(loading='lazy' src="img/svg/zoom.svg" alt="")
								+e.SPAN.b-txt.d-none.d-sm-inline Поиск
			//-+e.parameters.parameters-js.d-lg-none
				+e.p-img
					img(loading="lazy" src='img/svg/parameters.svg' alt="")
				+e.p-txt Параметры поиска
	//-+sSearch()
	+headerBlock()
	+sImged({
		addClasses: '',
		title: 'поиск',
		descr: 'В разделе Поиск можно найти интересующий металл в несколько кликов. Поисковая строка, фильтры и сортировка сделают этот процесс удобным и быстрым. Контактные данные доступны после регистрации, в роли покупателя это бесплатно.',
		blackBtn: 'Перейти в раздел',
		orangeBtn: 'Регистрация',
		imgNum: 1,
	})
	+sImged({
		addClasses: 'bg-white reverse',
		title: 'заявки',
		descr: 'В данном разделе размещаются актуальные заявки. Размещая заявку, вы автоматически регистрируетесь.',
		blackBtn: 'Перейти в раздел',
		orangeBtn: 'Разместить заявку',
		imgNum: 2,
	})
	+sImged({
		addClasses: '',
		title: 'поставщик',
		descr: 'Для выбора поставщика существует рейтинговая система и отзывы. Дополнительно каждый поставщик проходит проверку по юридическому лицу, запрашивается договор аренды склада. Размещать наличие очень просто, в личном кабинете поставщика существует несколько вариантов.',
		blackBtn: '',
		orangeBtn: 'Зарегистрироваться как поставщик',
		imgNum: 3,
	})
	//.d-none
		+sImged({
			addClasses: '',
			title: '',
			descr: '',
			blackBtn: '',
			orangeBtn: '',
			imgNum: 1,
		})
	//-sChart
	+sChart()
	+sTarif()
	+sForm()
	+b.sSearch--readmore.section
		.container
			+e.txt-content-wrap.rm-cont-js.pt-0
				+e.txt-content
					p Потребности предприятий в различных видах металла растут ежегодно. Продукция металлопроката требуется в различные отрасли, начиная от небольших производственных предприятий и заканчивая крупнейшими строительными организациями. Удовлетворить нужды компаний в поиске и быстрой поставке любого вида металла поможет биржа металлопроката MetalGo (рус. МеталГо) – площадка, где собрана информация не только о всех российских производителях, участвующих в тендерах, но и место, где можно купить и продать металлопрокат по всей России с возможностью безопасной сделки!
				.rm-hidden-js
					+e.txt-content
						h2
							| Преимущества
							|
							span.text-primary биржи металлопроката
						p Поиск и закупка требуемого вида продукции металлопроката может осуществляться предприятиями самостоятельно, но требует огромных усилий и зачастую отнимает немало времени. Найти надежного поставщика, зарезервировать требуемый объем товара и решить вопросы с нюансами доставки не всегда получается в краткие сроки. Между тем, время на предприятии решает всё – от своевременности выполнения заказов зависит и репутация компании в глазах заказчиков, и поступление оплат на расчетный счет. И любое нарушение договорных обязательств грозит серьезными негативными последствиями.
						p На предприятиях, осуществляющих металлопрокат изделий, за поиск покупателей отвечают отделы реализации и сбыта. Учитывая большой объем производства продукции и загруженность специалистов подготовкой документации, процессом нахождения заказчиков им заниматься некогда. Оптимальное решение для организации заключения быстрых сделок по купле-продаже продукции – удобная площадка металлопроката с понятной процедурой поиска предстоящих торгов и простой схемой принятия в них участия.
						b Преимущества обращения на биржу металлопроката:
						ul
							li Быстрый поиск нужного вида материала – биржа, на которой проходят тендеры закупок металлопроката, является самым удобным способом в кратчайшие сроки найти подходящего поставщика или покупателя;
							li Соблюдение сроков – участники торгов точно знают, в какие сроки будет заключен договор по итогам результатов тендера, поэтому могут планировать свои производственные нужды наперед;
							li Гарантия безопасности – на бирже собраны только проверенные компании-поставщики, заинтересованные в продаже своей продукции;
							li Разумные цены – проводимые торги металлопроката между участниками образуют конечную стоимость для заключения договора.
						p Найти все закупки требуемого вида продукции металлопроката и быстро связаться с поставщиком можно на площадке MetalGo. На сайте представлена также возможность произвести расчет примерной стоимости интересующего вида металла и рассчитать, во сколько обойдутся транспортные расходы на доставку.
						h2
							| MetalGo содержит всю информацию
							|
							span.text-primary о закупках металлопроката
						p На бирже МеталГо собраны все сведения о предстоящих тендерах в различных регионах РФ. В открытом доступе для заинтересованных сторон представлена цена продажи металлопроката и условия поставки. Каждая закупка металлопроката, проводимая посредством торгов – это процедура, регулируемая законодательством в целях соблюдения экономических интересов предприятий.
				+e.read-more.rm-btn-js
					span Читать далее
					span Свернуть
	+footer()