$h: 2px;
.toggle-menu-mobile {
	@include mt();
	@extend .btn;
	@extend .btn-outline-gray;

	padding: 0;
	min-width: 34px;
	min-height: 34px;
	@include media-breakpoint-up(sm){
		width: rem(45);
		height: rem(45);
	}

	display: block;
	height: $h* 12;
	position: relative;
	color: $primary;
	font-size: 20px;
	width: 1em;
	cursor: pointer;
	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(xy);
	}

	span:before {
		top: 6px;
	}

	span:after {
		bottom: 6px;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: $h;
		background-color: currentColor;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: calc(var(--vh, 1vh) * 100);
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	background-color: #c3c3c3;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;

	}
	@include mt(.6s);
	will-change: transform;

	&__inner {
		background-color: $body-color;
		color: $white;

		padding: rem(20);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(.3s);
		transition-delay: .4s;
		//opacity: var(--opacity);
	}
	//
	&__logo{
		display: block;
		width: 100%;

		img{
			width: auto;
			max-width: 100%;
		}
	}
	&__menu{
		ul{
			list-style: none;
			li{
				margin-bottom: rem(20);
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				display: block;
				font-size: 18px;

				color: $gray-600;
				&:hover{
					color: $white;
				}
				&.active{
					color: $white;
					&:after{
						opacity: 1;
					}
				}


			}
		}
	}
	//

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	//
	&__enter-btn{
		@extend .btn;
		@extend .btn-outline-primary;
		display: flex;
		align-items: center;
		justify-content: center;

		background: transparent;
		border: 1px solid $primary;
		border-radius: rem(5);

		min-width: 34px;
		min-height: 34px;
		@include media-breakpoint-up(sm){
			min-width: rem(45);
			min-height: rem(45);
		}

		padding: rem(11.5) rem(15);
		font-size: rem(16);


		color: $white;
		&:hover{
			color: $body-color;
			.icon{
				color: $body-color;
			}
		}

		.icon{
			@include mt();
			font-size: rem(20);
			margin-right: rem(10);
			color: $primary;
		}

	}

	ul{

	}

	.tn-item{
		.icon{
			font-size: 30px;
		}
		&__txt{
			font-size: 18px;
		}
	}
}