mixin mob-mnu(data)
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js.border-0
			span
		+e.inner
			+e.logo.mb-5(href="#")
				img(loading="lazy" src="img/svg/logo.svg" alt='')
			.mb-5
				if data && data.enterBtn
					+e.enter-btn(href="#")
						+icon('user')
						span Войти
				else
					+topNavLc({
						addClasses: 'in-mob-mnu',
					})
			+e.menu.mb-5
				+mnu()
			+topNavImgItem(1, 'Калькулятор металла', 'mb-3')
			+topNavImgItem(2, 'Калькулятор доставки', '')
	//  мобильное меню

mixin top-nav(data)
	// start top-nav
	+b.top-nav--js.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col.col-xl-auto.logo-col-js
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto.d-none.d-xl-block
					+mnu()
				.col-auto.col-xl.d-none.d-lg-block
					+e.sub-row.row.flex-nowrap
						.col-auto
							+topNavImgItem(1, 'Калькулятор металла')
						.col-auto
							+topNavImgItem(2, 'Калькулятор доставки')
				//-.col-auto
				if data && data.enterBtn
					.col-auto
						+e.enter-btn(href="#")
							+icon('user')
							span.d-none.d-md-inline Войти
				else
					.col-auto.d-none.d-md-block
						+topNavLc({})
				.col-auto.ms-auto.ms-md-0
					+e.message-btn
						+e.counter 99 
						+icon('chat')
						//img(loading="lazy" src='img/svg/chat.svg' alt="")
				.col-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
	// end top-nav

mixin topNavImgItem(imgNum, txt, addClasses="")
	+b.tn-item(href="#" class=addClasses)
		+icon(`topNav-img-${imgNum}`)
		+e.txt=txt

mixin topNavStar()
	.col-auto
		+e.star
			img(loading="lazy" src="img/svg/star.svg" alt="")

mixin topNavLc(data)
	+b.lc--js(class=data.addClasses)
		+e.head-row.row.align-items-center
			.col-auto
				+e.user
					img(loading='lazy' src='img/svg/user.svg' alt="")
			.col
				+e.name-row.row.align-items-center
					+e.name.col-auto Поставщик
					.col-auto
						+e.stars-row.row
							-for (var i = 0; i < 4; i++)
								+topNavStar()
				+e.company ооо «челябинская стальн...
			+e.icon-col.col-auto
				+icon('chevron-down')
		+e.drop-down
			+e.items
				+topNavLcDDItem(1, 'Пользователь')
				+topNavLcDDItem(2, 'Организация')
				+topNavLcDDItem(3, 'Склад')
				+topNavLcDDItem(4, 'Объявления')
				+topNavLcDDItem(5, 'Тарифы')
			+e.quit.text-center.text-danger(href="#") Выйти из аккаунта

mixin topNavLcDDItem(imgNum, txt)
	+e.item(href="#")
		+e.i-img
			+icon(`top-nav-dd-${imgNum}`)
		+e.i-txt=txt