extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sAds/_sAds.pug
include ../blocks/sProfileS/_sProfileS.pug

block variables
	- let  mainPage= null
	- let  bg='06-4-320.png'

block title
	- let  title= '06-prof-seller'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	// tabs wrap required for js work only if u remove js, remove this wrap
	.tabs
		+b.white-line--pad-alt2.bg-white.pb-0.p-md-0
			.container
				+e.row.row.align-items-center.pb-0
					+e.title-col.col-md-4.col-xl-auto
						+e.H1.title поставщик
					.col
						+e.tabs-btn-row--alt.row
							+tabsBtn2('user', 'Информация', 'active')
							+tabsBtn2('warehouse', 'Склады')
							+tabsBtn2('list', 'Объявления')
							+tabsBtn2('star', 'Отзывы')
		+sProfileS({
			showList: true,
			markForm: true,
		})
			+contactsBox({
				title: 'контакты поставщика',
				logo: true,
				name: 'ООО «МеталГо»',
				city: 'Челябинск',
				tell: '+7 (495) 000-55-25',
				telHref: '+74950005525',
				email: 'info@metalgo.biz',
				cite: 'https://metalgo.biz',
				inn: true,
				feedback: true,
				hidden: false,
			})
	+footer()