extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sAds/_sAds.pug
include ../blocks/sProfileS/_sProfileS.pug
include ../blocks/sTarif/_sTarif.pug
include ../blocks/sTarifsT/_sTarifsT.pug

block variables
	- let  mainPage= null
	- let  bg='10-3-320.png'

block title
	- let  title= '010-tarifs'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	// tabs wrap required for js work only if u remove js, remove this wrap
	.tabs
		+b.white-line--pad-alt2.bg-white.pb-0.p-md-0
			.container
				+e.row.row.align-items-center.pb-0
					+e.title-col.col-md.col-xl-auto.pe-xl-5
						+e.H1.title тарифы
					.col-md-auto.col-xl
						+e.tabs-btn-row--alt.row
							+tabsBtn2('warehouse', 'Поставщику', 'active')
							+tabsBtn2('user', 'Покупателю')
							+tabsBtn2('pen', 'Дополнительные услуги')
							+tabsBtn2('pic', 'Рекламные баннеры')
		+sTarifsT()
	+footer()