mixin allcss()
	//-link(href="libs/swiper/css/swiper.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	script(src="libs/hc-sticky/hc-sticky.js")
	script(src="libs/chart.js/chart.min.js")
	script(src="js/slidetoggle.min.js")
	script(src="libs/swiper/swiper-bundle.min.js")
	script(src="js/common.js")