//- WP menu
mixin mnu()
	-
		var nav= { 
			"Поиск":"active",
			"Заявки":"",
			"Торги":"",
			"Сделки":"",
			"Под заказ":"",
			}
	ul.menu
		each addClasses, linkName in nav
			li.menu-item: a(href="#" class=addClasses)=linkName

//- menu