//- pugination
mixin pugin()
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')= n 
					else
						block
			+li()
				span.prev.page-numbers.muted
					+icon('prev')
			+li()
				span.page-numbers.current  1
			+li(2)
			+li(3)
			+li('...')
			+li(9)
			+li(10)
			+li(11)
			+li()
				a.next.page-numbers(href='#')
					+icon('next')