mixin item-sos(icon, a='#')
	+e.A.item(href=a target="_blank" class=icon)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('soc-inst')
			+item-sos('soc-vk')
			+item-sos('soc-yt')

//- /social buttons 